header{
    margin: 6px;
    height: 150px;
    background-color: yellow;
}

main > div{
    margin: 6px;
    height: 150px;
    background-color:blue;
}

footer > div{
    margin: 6px;
    height: 150px;
    background-color: grey;
    display: none;
}

footer > div.important {
    display: block;
}


@media (min-width: 600px){

    
    footer{
        display: flex;
        flex-wrap: wrap;
    }

    footer > div{
        display: block;
        flex: 0 1 calc(50% - 12px);
    }

}
