body{
    font-family: "Poppins";
    margin: 0;
    padding:0;
}
p{
 font-size: 20px;   
}

li{
    list-style: none;
    margin-right: 25px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

ul{
    display: flex;
    
}

a{
    text-decoration: none;
    color: black
}
.titular{
    text-align: center;
    margin-top: 200px;
}
h1{
    font-size: 60px;
    margin: 0px;
}

h2{
    font-size: 25px;
    margin-bottom: 40px;
}

a{
    font-size: 14px;
    background: #3E9C1F;
    padding:20px 30px 20px 30px;
    color: whitesmoke;
}

header{
    background: url(fondo.jpg);
    height: 100vh;
    background-size: cover;
}
.contenedor{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}
  
h3{
    text-align: center;
    font-size: 55px;
    font-weight: normal;
}

.contenedor-sobremi{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.parrafo-boton{
    width: 42%;
}

.parrafo-boton p{
    font-size: 18px;
}
.parrafo-boton a{
    margin-top: 20px;
    display: inline-block;
}
.contenedor-servicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.servicio{
    width: 25%;
    padding:50px 38px 50px 38px;
    border-radius: 10px;
    margin-bottom: 40px;
    color: white;
}

.violeta{
    background: #5055df;
}

.celeste{
    background: #40a8fa;
}
.servicio h4{
    font-size: 30px;
margin: 0px;
}

.servicio img{
    float: right;
}

.servicio p{
    font-size: 18px;
}

