body{
    text-align: center;
}

.container{
    margin: 0 auto;
    background-color: darkblue;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item{
    background-color: darkgoldenrod;
    height: 100px;
    width: 100px;

    animation-name: rotar;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes rotar {

    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg);
    }
}