body{
    height: 2000px;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;

}
.gif-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecera-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .cabecera-nav a{
    font-size: 25px;
    }

nav{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    font-size: 16px ;
    color: black ;
    font-weight: 200;
    letter-spacing: .23125em;
    line-height: 1.56;
}

div.main img{
    height: 20px;
}

.main .texto{
    padding: 20px;
}

.main .imagen{
    padding: 3px ;
}

.contenedor-sticky {
    position: sticky;
    top: 0px;
}

content.principal{
    display: flex;
    flex-direction: column;
    text-align:center;
    margin: auto;
    align-items: center;

}

h1{
    font-size: 72px;
    font-weight: lighter;
}
.parrafo-principal{
    width: 890px;
    line-height: 1.48;
    font-size: 1.4375em;
    margin: 1em 0;
}

.parrafo-secundario{
    width: 890px;
    line-height: 1.56;
    margin: .9375em 0;}

.container{
    position: sticky;
    top: 0px;
    background-color: white;
    box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 0px;
}

.principal{
    background-image: url("doc__waves.png");
    background-size: 100% 35px;
    background-repeat: no-repeat;
    background-position: center 450px;
}


