.container{
    display: grid;
    /* grid-template-columns: 30% auto; */
    /* grid-column-gap: 10px;
    grid-row-gap: 10px; */

    grid-gap: 15px;

    /* grid-template-columns: repeat(5, 1fr); */
    /* grid-template-columns: repeat(2, 1fr 3fr); */

    grid-template-columns: 1fr 3fr;
    /* grid-template-rows: 300px 200px; */
    grid-auto-rows: minmax(200px, auto);
}

#tercero{
    grid-column: 300px;
}
.container > div{
    background-color: aqua;
}